<h1>Todos</h1>
<a class="btn btn-primary" [routerLink]="['/todos/new']">
  <i class="fa fa-plus"></i>
  New
</a>
<hr/>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col style="width: 60px;"/>
      <col style="width: 60px;"/>
      <col/>
      <col style="width: 100px;"/>
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Done</th>
      <th>Name</th>
      <th></th>
    </tr>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td><i class="fa fa-check" *ngIf="todo.done"></i></td>
      <td><a [routerLink]="['/todos/', todo.id, 'edit']">{{todo.name}}</a></td>
      <td>
        <button class="btn btn-danger btn-xs" [message]="'Are you sure?'" (confirm)="destroy(todo)">
          <i class="fa fa-trash"></i>
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
