doctype html
html
  head
    title Todo Demo
    base(href='/')
  body
    app
      center
        i.fa.fa-spinner.fa-spin
    if ENV.NODE_ENV == 'development'
      script(src='/webpack-dev-server.js')
